body {
	width: 1600px;
	height: 1000px;
}
p {
	width: 256px;
	height: 24px;
}

.content {
	width: 1200px;
	height: 768px;
}
.message {
	width: 1200px;
	height: 100px;
}

.fwb {
	font-weight: bold;
}
.red {
	color: red;
}
.hide {
	display: none;
}
