script,
style {
	display: none;
}
body {
	display: block;
	margin: 8px;
}
div {
	display: block;
}
p {
	display: block;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 0px;
	margin-right: 0px;
}
